# Thanks to bourbonos
# https://github.com/bourbonOS/bourbonOS/blob/live/files/systemd/system/nix.mount

[Unit]
Description=Mount /nix
DefaultDependencies=no
After=var.mount ostree-remount.service nix-dir-move.service
BindsTo=var.mount nix-dir-move.service

[Mount]
What=/var/nix
Where=/nix
Type=none
Options=bind